
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="/Account/Login" method="post">
    Search: <br />
    <input type="text" name="ssn" />
    <input type="submit" value="Find" />
</form>